/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* custom properties */
:root {
    --color-background: #FFFFFF;
    --color-text: #000000;
    --gradient: -webkit-linear-gradient(45deg, #59C1BD, #5a549a);
    --reverseGradient: -webkit-linear-gradient(45deg, #877ee9, #59C1BD);
--cardBackground: #000000;
--gutter: 40rem;
}
/* global styles */
body {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-text);
    animation-name: fadein;
    animation-duration: 1s;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
#about a, #projects a, #contact a {
    font-weight:700;
    color: #000000;
    background: var(--reverseGradient);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Header Styles */
header {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
header img {
    width: 7rem;
    align-self: center;
}
header hr {
    background-color: var(--color-text);
    height: 1px;
    border: none;
    margin-top: 1rem;
}
header nav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
header a {
    color: var(--color-text);
    text-decoration: none;
    text-transform: uppercase;
}

/* About Me Section Styling */
.circle {
    margin: 1rem auto;
    border-radius: 50%;
    width: 10rem;
    height:10rem;
}
.circle img {
    width: 100%;
    border: 0.5rem solid var(--cardBackground);
    border-radius: 50%;
}
#about {
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto;
    max-width: var(--gutter);
    padding:1.5rem;
}
#about p {
    font-weight:500;
    font-size: 1.1rem;
    line-height: 1.6rem;

}
.gradientText {
    background: var(--gradient);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.socialLinks {
    display: flex;
    justify-content:center;
    gap: 1.5rem;
    margin: 1.5rem auto;
}
.socialLinks img {
    width: 2rem;
    height: 2rem;
}
/* Project Section Styling */
/* Featured Project */
#projects {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    margin-bottom: 2rem;
}
#projects h2 {
    font-weight: 300;
    font-style: italic;
    margin: 1rem 0;
}
#projects h3 {
    font-weight: 400;
    margin: 0.5rem 0;
    font-style: italic;
}
#projects p {
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
.featuredBanner {
    background-color: var(--cardBackground);
}
.featuredBanner img {
    width: 100%;
    border-top: 0.5rem solid var(--cardBackground);
    border-bottom: 0.5rem solid var(--cardBackground);
}
.featuredDesc {
    padding: 1rem;
}

/* Left Project */
.projLeft {
    display: flex;
    flex-direction: column;
    background-color: var(--cardBackground);
    margin: 2rem 1rem 2rem 0;
    border-radius: 0 10px 10px 0;
    color: white;
}
.projLeftImg {
    border-radius: 0 10px 0 0;
}
.projLeftImg img {
width:100%;
border-radius: 0 10px 0 0;
}
.projLeftDesc {
    padding: 0.5rem;
}
/* Right Project */
.projRight {
    background-color: var(--cardBackground);
    margin: 0 0 2rem 1rem;
    border-radius: 10px 0 0 10px;
    color: white;
}
.projRightImg {
    border-radius: 10px 0 0 0;
}
.projRightImg img {
    border-radius: 10px 0 0 0;
width:100%;
}
.projRightDesc {
    padding: 0.5rem;
}
/* About Section Styling */
#contact {
    background-color: var(--color-background);
}
.contactPortrait {
    display: flex;
    background-color: var(--cardBackground);
    padding: 3rem;
width: 100%;
justify-content: center;
}
.contactPortrait img {
    max-width: 15rem;
    border: 1rem solid var(--color-background);
}
.contactText {
    margin: 0 auto;
    padding: 1rem;
    line-height: 1.6rem;
    display: flex;
    flex-direction: column;
    max-width: var(--gutter);
}


/* animation keyframes */
@keyframes fadein {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

/*media breakpoints */
@media (min-width:600px) {
    #about {
        max-width: var(--gutter);
        margin-inline: auto;
        padding: 1.5rem;
    }
    .featuredBanner {
        display:flex;
        justify-content: center;
        width:100%;
    }
    .featuredBanner img {
        max-width: var(--gutter);
    }
    .featuredDesc {
        max-width: var(--gutter);
        margin: 0 auto;
    }
.projLeft, .projRight {
        display: flex;
        flex-direction: column;
        max-width: var(--gutter);
        margin: 2rem auto;
        border-radius: 0;
    }
    .projLeft, .projRight {
        border: 0.5rem solid black;
    }
    .projLeftImg img, .projRight img {
        border-radius: 0;
    }
    .aboutPortrait img {
        max-width: 20rem;
        border: 1rem solid white;
    }
}