@tailwind base;
@tailwind components;
@tailwind utilities;

/* my css */
/* custom properties */
:root {
    --color-text: #000000;
    --gradient: -webkit-linear-gradient(45deg, #59C1BD, #5a549a);
    --reverseGradient: -webkit-linear-gradient(45deg, #877ee9, #59C1BD);
--cardBackground: #1e1e1e;
--gutter: 40rem;
}
/* global styles */
html {
    scroll-behavior: smooth;
  }
body {
    animation-name: fadein;
    animation-duration: 1s;
}
#about a, #projects a,#writing a,#contact a {
    font-weight:700;
    color: #000000;
    background: var(--reverseGradient);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* About Me Section Styling */
.circle {
    margin: 1rem auto;
    border-radius: 50%;
    width: 10rem;
    height:10rem;
}
.circle img {
    width: 100%;
    border: 0.2rem solid var(--cardBackground);
    border-radius: 50%;
}
#about {
    margin: 1.5rem auto;
    max-width: var(--gutter);
    padding:1.5rem; 
}
.gradientText {
    background: var(--gradient);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.socialLinks {
    display: flex;
    justify-content:center;
    gap: 1.5rem;
    margin: 1.5rem auto;
}
.socialLinks img {
    width: 2rem;
    height: 2rem;
}

.articleLinks {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
#writing {
    margin-top:2rem;
    margin-bottom:2rem;
}
/* animation keyframes */
@keyframes fadein {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}